<div class="pokemon-card">
    <div class="pokemon-card__image">
        <img 
        [src]="pokemon.imagem" 
        alt="pokemon.name">
    </div>
    <div class="pokemon-card__number">
        Nº {{ pokemon.number}}
    </div>
    <div class="pokemon-card__name">
        {{ pokemon.name}}
    </div>
    <div class="pokemon-card__types">
        <div class="pokemon-card__type" 
            *ngFor="let type of pokemon.types"
            [class]="'pokemon-card__type--' + type.toLocaleLowerCase()">
            {{ type}}
        </div>  
    </div>
</div>